POSTGRES_HOST=pg_db
POSTGRES_PASSWORD=pg_password
POSTGRES_USER=postgres
POSTGRES_DB=authapp
POSTGRES_PORT=5432
POSTGRES_SCHEMA=app

REDIS_HOST=redis_db
REDIS_PORT=6379

SERVICE_HOST=auth_app
SERVICE_PORT=8000
SERVICE_PROTOCOL=http
SERVICE_API_VERSION=1
SERVICE_ADMIN_ROLE=superadmin
SERVICE_SUBSCRIBER_ROLE=subscriber

ACCESS_TOKEN_EXPIRATION=600
CACHE_TIME=600
JWT_SECRET_KEY=change_me

# Max possible request burst before the API starts to throttle requests for the user
USER_MAX_REQUEST_RATE=10

OAUTH_VK_ID=8007878
OAUTH_VK_SECRET=AcXPCZ4ZHvNyvfp1zahn
VK_API_VERSION=5.122

OAUTH_YDX_ID=a6f43c161b984d7894bc0103aa1143c0
OAUTH_YDX_SECRET=176a714806c04ee6a52ca6b7de7cab41

JAEGER_SERVICE_NAME=auth-app
JAEGER_AGENT_HOST=jaeger
JAEGER_AGENT_PORT=6831
JAEGER_SAMPLER_MANAGER_HOST_PORT=jaeger:5778

ASYNC_API_URL=http://host.docker.internal:8888/api/v1
